
body{
	 background: url("../imagenes/fodo.jpg") no-repeat  fixed center;
	 background-size:cover ; 
}
.menu li {
	border: solid 1px #c60f13;

	
}
.logo{
	color: #FFFFFF;
}

.menu li:hover{
	background-color: #a0800c;
	color: #fff; 

}
.menu li:hover a{
	color: #fff; 
	font-weight: bold;
	background-color: #a0800c;
}
h2, h3,h4 ,a{
	color: #c60f13 ;
}
.seccion {
	background: #efc323 ;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	padding-top: 0.5em;

}

.trasparencia:after{
	position: absolute;
	display: block;
	content: "";
	margin: auto;
	width: 80%;
	left: 10%;
	height: 350%;
	min-height: 100%;
	background-color : black;
	z-index: -1;
	opacity: 0.5;
	top:0;
	


}





